<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Create User</title>
  </head>
  <body class="bg-zinc-900 text-white">
    <main class="max-w-screen-xl mx-auto p-10">
      <nav class="flex items-center justify-between">
        <h5>LOGO</h5>
        <div>
          <a href="/all-user" class="text-blue-500">All User</a>
        </div>
      </nav>
      <form action="/create-user" method="post" class="max-w-md mx-auto space-y-3 mt-40">
        <h1 class="text-xl mt-7 font-semibold">Create user</h1>
        <input type="text" class="block w-full h-12 bg-zinc-800 px-4 rounded-md outline-none" name="name" placeholder="Name" />
        <input type="text" class="block w-full h-12 bg-zinc-800 px-4 rounded-md outline-none" name="email" placeholder="Email" />
        <input type="text" class="block w-full h-12 bg-zinc-800 px-4 rounded-md outline-none" name="photoUrl" placeholder="Photo url" />
        <button type="submit" class="h-11 w-full text-white bg-blue-600 rounded-md">Create</button>
      </form>
    </main>
  </body>
</html>
