<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Edit Post</title>
    <style>
      body {
        font-family: "Montserrat", sans-serif;
      }
    </style>
  </head>
  <body class="text-sm font-medium">
    <div class="flex items-center justify-center h-screen">
      <form action="/profile/<%= userId %>/update-post/<%= postId %>" method="post" class="mt-5 space-y-3 max-w-md w-full">
        <textarea
          name="content"
          placeholder="What's on your mind?"
          class="resize-none w-full h-32 rounded-md border-gray-300 outline-none border p-4"
        >
<%= content %></textarea
        >
        <div class="flex items-center justify-between gap-5">
          <a href="/profile/<%= userId %>" class="text-red-400">Cancel Update</a>
          <button type="submit" class="h-10 inline-flex items-center justify-center px-10 rounded-md text-zinc-800 bg-yellow-400">Update Post</button>
        </div>
      </form>
    </div>
  </body>
</html>
