<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Note</title>
  </head>
  <body class="bg-zinc-900 text-white">
    <div class="max-w-screen-xl p-10 mx-auto">
      <a href="/" class="text-blue-600">Go back to home</a>
      <div class="mt-10">
        <h1 class="text-xl font-semibold"><%= title %></h1>
        <p class="mt-1"><%= note %></p>
      </div>
    </div>
  </body>
</html>
